<div class="flex flex-col lg:flex-row items-center gap-20">
    <div class="w-full lg:w-1/2 flex flex-col">
        <h4 class="text-3xl font-plusJakartaBold text-center lg:text-left leading-[160%]">About Us</h4>

        <div class="mt-6 text-base !leading-[160%]">
            <p class="text-center lg:text-left">Based in Batam, After Lensa is dedicated to capturing the essence of every moment. Our skilled photographers offer a variety of services, including product, food, and event photography. We create high-quality images that tell your story, whether you're a business or an individual. Let's bring your vision to life together.</p>
            <p class="mt-6 text-center lg:text-left font-plusJakartaSemiBold">Our team</span>
            <div class="mt-6 grid grid-cols-1 min-[450px]:grid-cols-2 gap-8">
                <div class="w-full flex flex-col items-center lg:items-start">
                    <img src="assets/src/img/team/Chris.jpg" class="rounded-full w-[120px] h-[120px]">
                    <h5 class="mt-4 text-lg font-plusJakartaSemiBold">Christian</h5>
                    <p class="mt-2 text-sm">Founder, Editor</p>
                </div>
                <div class="w-full flex flex-col items-center lg:items-start">
                    <div class="p-4 bg-primary rounded-full w-[120px] h-[120px] text-white font-plusJakartaBold text-2xl flex items-center justify-center">HWP</div>
                    <h5 class="mt-4 text-lg font-plusJakartaSemiBold">Hilmawan</h5>
                    <p class="mt-2 text-sm">Co-Founder, Content Creator</p>
                </div>
                <div class="w-full flex flex-col items-center lg:items-start">
                    <div class="p-4 bg-primary rounded-full w-[120px] h-[120px] text-white font-plusJakartaBold text-2xl flex items-center justify-center">GAH</div>
                    <h5 class="mt-4 text-lg font-plusJakartaSemiBold">Gian</h5>
                    <p class="mt-2 text-sm">Photographer</p>
                </div>
                <div class="w-full flex flex-col items-center lg:items-start">
                    <div class="p-4 bg-primary rounded-full w-[120px] h-[120px] text-white font-plusJakartaBold text-2xl flex items-center justify-center">QUD</div>
                    <h5 class="mt-4 text-lg font-plusJakartaSemiBold">Tina</h5>
                    <p class="mt-2 text-sm">Account Manager</p>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full lg:w-1/2 hidden lg:flex items-center justify-center">
        <img class="rounded-md w-auto h-auto max-h-[calc(70vh)]" src="assets/src/img/teams.jpg">
    </div>
</div>