<h4 class="text-3xl lg:text-5xl font-plusJakartaBold text-center !leading-[160%]">Level up your product visuals with<br>our professional photography services.<br>Consult with us now!</h4>
<div class="flex flex-row gap-10 mt-14">
    <a class="px-4 py-2 rounded-full bg-[#075E54] hover:bg-[#042f2a] text-white font-plusJakartaSemiBold flex flex-row items-center gap-2" href="https://wa.me/6281276600598" target="_blank">
        Consult with us
    </a>
    <a class="px-4 py-2 rounded-full bg-[#0C6EB6] hover:bg-[#084978] text-white font-plusJakartaSemiBold flex flex-row items-center gap-2" href="https://tinyurl.com/afterlensa-booking" target="_blank">
        Booking session
    </a>
 </div>
<div class="relative my-14 w-full flex items-center justify-center">
    <hr class="w-[50%]">
    <span class="bg-white absolute l-[50%] -top-[13px] px-4">or visit us</span>
</div>
<div class="flex items-center flex-wrap justify-center gap-6">
    <a class="flex items-center justify-center p-2 rounded-full aspect-square w-full max-w-[48px] h-[48px] bg-primary hover:bg-[#C13584]" href="https://www.instagram.com/afterlensa" target="_blank">
        <i class="fa-brands fa-instagram text-white text-[24px]"></i>
    </a>
    <a class="flex items-center justify-center p-2 rounded-full aspect-square w-full max-w-[48px] h-[48px] bg-primary hover:bg-[#ff0050]" href="https://www.tiktok.com/@afterlensa" target="_blank">
        <i class="fa-brands fa-tiktok text-white text-[24px]"></i>
    </a>
    <a class="flex items-center justify-center p-2 rounded-full aspect-square w-full max-w-[48px] h-[48px] bg-primary hover:bg-[#1877F2]" href="https://www.facebook.com/afterlensa.official" target="_blank">
        <i class="fa-brands fa-facebook text-white text-[24px]"></i>
    </a>
    <a class="flex items-center justify-center p-2 rounded-full aspect-square w-full max-w-[48px] h-[48px] bg-primary hover:bg-[#c71610]" href="mailto:afterlensa.pp@gmail.com" target="_blank">
        <i class="fa-regular fa-envelope text-white text-[24px]"></i>
    </a>
</div>
