<div class="flex flex-col gap-6">
    <img src="assets/src/img/black.png" class="w-full h-auto max-w-[120px]" alt="Afterlensa Logo">
    <h1 class="text-3xl lg:text-5xl font-plusJakartaMedium text-left leading-[160%] mt-4">Hi, We are <span class="font-plusJakartaBold">After Lensa</span></h4>
    <h2 class="text-xl lg:text-3xl font-plusJakarta text-left leading-[160%]">Food & product photographers based in<br>Batam, Indonesia</h4>
    <div class="mt-6">
        <a class="w-auto px-6 py-3 rounded-full bg-primary text-white font-plusJakartaSemiBold hover:bg-hover text-center" href="#" onclick="app.scrollToElementById('service')">
            Get to know us
        </a>
    </div>
</div>